<div class="foot-bt" style="height:99px; font-size: 15px;margin-left: -15px; margin-right: -15px;">
  <div class="foot-bt-content">
    <div class="left">
      <div class="ft-logo-png"></div>
      <div class="ft-info">
        温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活<br> Copyright © 2017 Games. All Rights Reserved | 横琴聚一科技有限公司 版权所有 | 服务协议 | 隐私权保护声明 | 未成年人家长监护 粤ICP备17155841号<br> 珠海市横琴新区宝华路6号105室-23805 0756-8992369
      </div>
    </div>
  </div>
</div>