<div class="header" style="background-color: transparent;">
  <div class="max-min">
    <div class="logo fl">
      <a href="/main.html" title=""><img src="/main_files/logo.png" style="margin-top:10px;"></a>
    </div>
    <div class="menu fl">
      <ul>
        <li class="hover">
          <div class="navf">
            <a href="/main.html" title="main"> <span></span> <span class="navon">首页</span> </a>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/about.html" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">关于我们</span> <span class="navon" style="top: -79px;">关于我们</span> </a>
          </div>
          <div class="nav-son" style="display: none;">
            <ul>

              <li><a href="/about.html" title="企业简介">企业简介</a></li>

            </ul>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/game.html" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">游戏中心</span> <span class="navon" style="top: -79px;">游戏中心</span> </a>
          </div>
          <div class="nav-son" style="display: none;">
            <ul>

              <li><a href="/llk.html" title="萌趣连连看">萌趣连连看</a></li>

            </ul>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/info.html" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">资讯中心</span> <span class="navon" style="top: -79px;">资讯中心</span> </a>
          </div>
          <div class="nav-son" style="display: none;">
            <ul>

              <li><a href="/info.html" title="行业资讯">行业资讯</a></li>

              <li><a href="/info.html" title="企业新闻">企业新闻</a></li>

            </ul>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/parentLook.html" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">家长监护</span> <span class="navon" style="top: -79px;">家长监护</span> </a>
          </div>
          <div class="nav-son" style="display: none; height: 59px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
            <ul>

            </ul>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/contact.html" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">联系我们</span> <span class="navon" style="top: -79px;">联系我们</span> </a>
          </div>
          <div class="nav-son" style="display: none;">
            <ul>

            </ul>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/login" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">登  录</span> <span class="navon" style="top: -79px;">登  录</span> </a>
          </div>
          <div class="nav-son" style="display: none; height: 59px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
            <ul>

            </ul>
          </div>
        </li>
        <li class="">
          <div class="navf">
            <a href="/login/register" title=""> <span class="navcurbg" style="top: -79px;"></span> <span class="navcur" style="top: 0px;">注  册</span> <span class="navon" style="top: -79px;">注  册</span> </a>
          </div>
          <div class="nav-son" style="display: none;">
            <ul>

            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="hotline fr"><img src="/main_files/menu_line.png"></div>
  </div>
</div>