
<%include ../commonejs/common.ejs%>

<%include ../commonejs/alertModal.ejs%>

<div class="container-fluid" style="height:100%;">
    <div class="row">
        <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-4 col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">用户登陆</div>
                <div class="panel-body">
                    <form id="userform" action="" class="form-horizontal" onSubmit="return false;">
                        <div class="form-group">
                            <div class="col-sm-2" ></div>
                            <div class="col-sm-8 input-group">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                <input id="username" name="username" class="form-control" type="text" placeholder="请输入用户名" />
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2" ></div>
                            <div class="col-sm-8 input-group">
                                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                <input id="password" name="password" class="form-control" type="password" placeholder="请输入密码" />
                            </div>
                            <div class="col-sm-2" ></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2" ></div>
                            <div class="col-sm-8 input-group">
                                <p class="text-danger" id="cueinfo" style="display: none;"></p>
                            </div>
                            <div class="col-sm-2" ></div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <button id="loginMake" type="button" class="btn btn-lg btn-success">登陆</button>
                                <button id="registerUser" type="button" class="btn btn-lg btn-default">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        <div class="col-md-4 col-sm-3"></div>
    </div>
    <div class="foot-bt" style="height:99px; font-size: 15px;position:absolute; left: 0px; right: 0px; bottom: 0px;">
        <div class="foot-bt-content">
            <div class="left">
            <div class="ft-logo-png"></div>
            <div class="ft-info">
                温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活<br> Copyright © 2017 Games. All Rights Reserved | 横琴聚一科技有限公司 版权所有 | 服务协议 | 隐私权保护声明 | 未成年人家长监护 粤ICP备17155841号<br> 珠海市横琴新区宝华路6号105室-23805 0756-8992369
            </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/login/web/login/login.js"></script>